.header {
  width: 100%;
  background-color: var(--color-primary);
  color: var(--color-text);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.color-square {
  width: 20rem;
  height: 9rem;
  background-color: var(--color-accent);
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  margin-right: 2rem;
}

.header-start {
  display: flex;
  align-items: center;

}

.header-title{
  margin: 0;
  padding: 0;
  color: var(--color-title);
}