.header {
  width: 100%;
  background-color: var(--color-primary);
  color: var(--color-text);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.color-square {
  width: 19rem;
  height: 9rem;
  background-color: var(--color-accent);
  margin: 0;
  padding: 0;
  margin-right: 2rem;
}

.header-button {
  background-color: var(--color-accent);
  color: var(--color-text);
  border: none;
  margin: 2rem;
  border-radius: 1rem;
  cursor: pointer;
}

.header-start {
  display: flex;
  align-items: center;

}

.header-title{
  margin: 0;
  padding: 0;
}