:root {
  /* Light mode colors */
  --color-bg: #f9f9f9;
  --color-text: #111111;
  --color-primary: #621776;
  --color-accent: #9c34b9;
  --color-second-bg: #e5e7eb;
  --color-title: #e3aaff;
  --color-sum-bar: #480f57; 
}

[data-theme="dark"] {
  --color-bg: #1f2937;
  --color-text: #eef7ff;
  --color-primary: #699cb9;
  --color-accent: #4e5d8f;
  --color-second-bg: #2a364c;
  --color-title: #eef7ff;
  --color-sum-bar: #255864; 
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body, #root {
  margin: 0;
  padding: 0;
  font-family: monospace;
  background-color: var(--color-primary);
  color: var(--color-text);
  overscroll-behavior: none;
}

#root {
  background-color: var(--color-bg);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
